.seccion1 {
    height: 100vh;
    width: 100vw;
}

.seccion2 {
    height: 100vh;
    width: 100vw;
}

textarea{
    display: block;
    color:darkred;
    font-size: 50%;
    background-color:bisque;
    resize: none;
  }

.animacion1 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 2ch;
}

.boton {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5px;
}

.juegos {
    background-color: orangered;
    height: 22ch;
}

.cajita1 {
    background-color:lightgray;
    width: 240px;
    height: 20ch;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cajita1 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita2 {
    background-color:lightgray;
    width: 240px;
    height: 20ch;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cajita2 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}


.cajita3 {
    background-color:lightgray;
    width: 240px;
    height: 20ch;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cajita3 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita4 {
    background-color:lightgray;
    width: 240px;
    height: 20ch;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cajita4 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita5 {
    background-color:white;
    width: 14ch;
    height: 50px;
    float: right;
    align-items: center;
    justify-content: center;
    display: flex;

}

.maquinitas {
    background-color: orangered;
    height: 22ch;
}

.cajita6 {
    background-color:lightgray;
    width: 240px;
    height: 20ch;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cajita6 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita7 {
    background-color:lightgray;
    width: 240px;
    height: 20ch;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cajita7 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita8 {
    background-color:lightgray;
    width: 240px;
    height: 20ch;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cajita8 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita9 {
    background-color:lightgray;
    width: 240px;
    height: 20ch;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cajita9 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita10 {
    background-color:white;
    width: 14ch;
    height: 50px;
    float: right;
    align-items: center;
    justify-content: center;
    display: flex;

}

body {
   background-color: black;
}


h2 {
    text-align: center;
    color: white;
}


.titulo1 {
    background-color: crimson;
    height: 5ch;
    width: 100%;
    align-items:center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo2 {
    margin-top: 6ch;
}

.titulo3 {
    margin-top: 21ch;
}

body {
    margin: 0;
    width: 100vw;
    /*height: 100vh;*/
    /*background: lightgrey;*/
    user-select: none;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 60vw;
}
